#ignore built binaries
*.so
*.dylib

#ignore resharper files
_ReSharper.*/

#ignore visual studio upgrade files
_UpgradeReport_Files/

#ignore generated directories
Debug/
Release/
x64/

#ignore ipch
ipch/

#ignore random visual studio stuff
*.opensdf
*.sln.old
*.vcxproj*
*.sdf
UpgradeLog.XML
